vocabulary/*.yml
lib/*
build/*
3rdparty/DBoW2/build/*
3rdparty/line_descriptor/build/*
3rdparty/DBoW2/lib/*
3rdparty/line_descriptor/lib/*
simu/line_cut/*
config/aux/*
CMakeLists.txt.user
.idea
cmake-build-debug/
vocabulary/voc_all_datasets_orb.yml
vocabulary/voc_all_datasets_bld.yml
vocabulary/voc.tar.gz
vocabulary/voc/*
